<li class="flight_list_item" ng-init="$ctrl.flightdetails = false">
  <div layout="row" class="flight_list_main text-center" ng-click="$ctrl.flightdetails = !$ctrl.flightdetails">
    <div flex="20">{{$ctrl.flight.airline}}</div>
    <div flex="20">
      <p>{{$ctrl.citycodes.from}}</p>
      <p class="text_bold">{{$ctrl.flight.deptime}}</p>
      <p class="text_bold">{{$ctrl.getformattedDate($ctrl.flight.depdate)}}</p>
    </div>
    <div flex="20">
      <p>{{$ctrl.citycodes.to}}</p>
      <p class="text_bold">{{$ctrl.getArrivalTimeObject($ctrl.flight).time}}</p>
      <p class="text_bold">{{$ctrl.getArrivalTimeObject($ctrl.flight).date}}</p>
    </div>
    <div flex="20">
      {{$ctrl.getFlightDuration($ctrl.flight.duration)}}
      <p class="text_bold">{{$ctrl.flight.stops}} stop(s)</p>
    </div>
    <div flex="20" class="text_bold"><img ng-src="{{$ctrl.LogoInr}}" alt="Rupees">{{$ctrl.flight.fare.grossamount}}</div>
  </div>

  <flight-details ng-show="$ctrl.flightdetails" flight="$ctrl.flight" on-close="$ctrl.close(close)" class="flight_list_details"></flight-details>
</li>
