@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700|Lato:300,300i,400,400i,700,700i');

* {
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
}
body {
  display: flex;
  flex-flow: column;
  margin: 0;
  height: 100vh;
  background: linear-gradient(140deg, #6DB7ED 10%, #FF926B 90%);
  background-repeat: no-repeat;
}
.row {
  margin: 0 !important;
}
.custom_nav {
  position: absolute;
  width: 100%;
  padding: 10px 40px;
  background-color: rgba(9, 9, 9, 0.2);
  z-index: 999;
}
/*.custom_nav:hover {
text-decoration: none;
color: white;
}*/
.app_logo {
  font-weight: 600;
  font-size: 32px;
  font-style: italic;
  text-decoration: none;
  text-transform: lowercase;
  color: white;
  margin: 6px;
  margin-top: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}
.app_logo img {
  height: 40px;
  margin-top: -6px;
  margin-right: 12px;
  margin-left: 18px;
}
.app_logo > span {
  padding: 7px;
  padding-bottom: 0px;
  border: 1px solid white;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
}
#btn_dashboard {
  font-size: 16px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0.3s all;
}
#btn_dashboard:hover {
  font-size: 17px;
  background-color: white;
  color: #337ab7;
  text-decoration: none;
}
#btn_logout {
  font-size: 16px;
  text-decoration: none;
  background-color: #FC5555;
  color: white;
  padding: 10px;
  transition: 0.3s all;
}
#btn_logout:hover {
  padding: 10px 14px;
  text-decoration: none;
}
.yellow {
  color: #F9F154;
}
.form-control {
  border-radius: 0px !important;
}
.btn {
  border-radius: 0px !important;
  font-size: 16px !important;
}
.content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}
.content.ng-enter {
  opacity: 0;
  transition: 0.7s;
}
.content.ng-enter-active {
  opacity: 1;
}
.slide.ng-enter {
  transform: scaleY(0);
  transition:0.3s ease-out all;
  opacity:0;
}
.slide.ng-enter.ng-enter-active {
  transform: scaleY(1);
  opacity:1;
}
.slide.ng-leave {
  transform: scaleY(1);
  transition:0.4s ease-out all;
  opacity:1;
}
.slide.ng-leave.ng-leave-active {
  transform: scaleY(0);
  opacity:0;
}
