body {
  background-image: url('Data/images/bg1.jpg');
  background-position: center;
  /*background: linear-gradient(140deg, rgba(242, 92, 112, 0.9) 0%, rgba(76, 153, 235, 0.9) 100%);*/
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
}
.form-control {
  border-radius: 0px !important;
}
.btn {
  border-radius: 0px !important;
}
