<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
  <meta charset="utf-8">
  <base href="/">
  <link rel="icon" href="Data/images/favicon.png?" type="image/png">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self'"> -->
  <title>Flight Search App</title>
</head>
<body>
  <div class="row custom_nav">
    <div class="col-md-4">
      <div class="app_logo" ui-sref="main">
        <img src="Data/images/airplane-takeoff.png">
        <span>
          <span class="yellow">flight</span> search app
        </span>
      </div>
    </div>
    <div class="col-md-1 pull-right" ng-show="isUserLoggedIn">
      <br>
      <a id="btn_logout" ui-sref="main" ng-click="logoutUser()">Logout</a>
    </div>
    <div class="col-md-2 pull-right" ng-show="isUserLoggedIn && state == 'main'">
      <br>
      <a id="btn_dashboard" ui-sref="home.search">Go To Dashboard</a>
    </div>
    <div class="col-md-3 pull-right text-right" ng-show="!isUserLoggedIn">
      <br>
      <a id="btn_anonymous" ng-click="anonymousLogin()">Anonymous Login &nbsp; <i class="mdi mdi-login-variant"></i></a>
    </div>
    <div class="col-md-3 pull-right text-right" ng-if="isUserLoggedIn && state != 'main'">
      <br>
      <div class="dropdown">
        <a id="btn_loggedUser" class="dropdown-toggle" type="button" data-toggle="dropdown">
          <img src="{{loggedUser.photoUrl || LogoAccount}}" alt="User Photo">
          <span>{{loggedUser.displayName || loggedUser.email || 'Anonymous User'}}</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" ng-if="!isAnonymous">
          <li ng-disabled="true"><a href="#">Provider: {{loggedUser.providerId}}</a></li>
          <li><a href="/" ng-click="deleteAccount()">Delete Account</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content" ui-view ng-hide="isLoading"></div>
</body>
</html>
