<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
<head>
  <meta charset="utf-8">
  <base href="/">
  <link rel="icon" href="Data/images/favicon.png?" type="image/png">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self'"> -->
  <title>Flight Search App</title>
</head>
<body>
  <div class="row custom_nav">
    <div class="col-md-4">
      <div class="app_logo" ui-sref="main">
        <img src="Data/images/airplane-takeoff.png">
        <span>
          <span class="yellow">flight</span> search app
        </span>
      </div>
    </div>
    <div class="col-md-1 pull-right">
      <br>
      <a id="btn_logout" ui-sref="main" ng-click="logoutUser()" ng-if="isUserLoggedIn">Logout</a>
    </div>
    <div class="col-md-2 pull-right" ng-if="isUserLoggedIn && state == 'main'">
      <br>
      <a id="btn_dashboard" ui-sref="home.search">Go To Dashboard</a>
    </div>
  </div>


  <div class="content" ui-view></div>
</body>
</html>
