md-content {
  background-color: transparent;
}
.md-datepicker-input {
  width: 240px;
}
.md-autocomplete-suggestions-container li .highlight {
  color: red;
}
md-icon {
  color: #4B7796 !important;
}

.search h2 {
  color: #4B7796;
}
.btn_search {
  width: 150px;
  margin: 30px;
  color: #4B7796 !important;
  padding: 10px !important;
  border: 1px solid #4B7796 !important;
  background-color: transparent !important;
  transition: 0.3s all;
}
.btn_search:hover {
  font-weight: bold;
  background-color: white !important;
  color: #4B7796 !important;
  border: 1px solid transparent !important;
}

.btn_swap {
  background-color: transparent;
  border: 1px solid white !important;
  transition: 0.3s all;
}
.btn_swap:hover {
  border: 1px solid transparent !important;
  background-color: rgba(9, 9, 9, 0.2);
}
#note {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 40px;
}

/* Autocomplete CSS */
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
  height: 24px;
  width: 24px;
}
