<div class="search container">
  <div layout="row" layout-align="start center" id="note" class="md-margin md-padding">
    Note: The app's only purpose is to demonstrate the implementation of AngularJS using modular approach. So, obviously, bookings cannot be done. Also, it has its limitations since it is using a free API to fetch and display flights so it may be possible that searches from some cities may not return back any data.
    <br>
    Moreover, the app has pre-set parameters to search for 'adults = 1' for any route and show the respective timings and pricing for the same.
  </div>

  <md-content layout-padding>
    <form ng-submit="search.getResults(search.flightparams)">

      <div layout-gt-sm="row" layout="column">
        <md-autocomplete required flex-gt-sm="40" flex-sm="100"
        md-no-cache="true"
        md-dropdown-position="bottom"
        md-selected-item="search.flightparams.source"
        md-search-text="search.searchSource"
        md-items="item in search.searchAirport(search.searchSource, search.flightparams.destination)"
        md-item-text="item.airport"
        md-min-length="0"
        md-menu-class="autocomplete-custom-template"
        placeholder="Enter Departure City">
      <md-item-template>
        <span class="item-title">
          <span md-highlight-text="search.searchSource" md-highlight-flags="^i">{{item.airport}}</span>
        </span>
        <span class="item-metadata">
          <i class="mdi mdi-home-map-marker"></i>
          <span md-highlight-text="search.searchSource" md-highlight-flags="^i">{{item.country}}</span>
        </span>
      </md-item-template>
      <md-not-found>
        No airports matching "{{search.searchSource}}" were found.
      </md-not-found>
    </md-autocomplete>

    <div flex-gt-sm="20" class="text-center" hide-sm hide-xs>
      <button type="button" ng-click="search.interchangeSearchCities()" class="btn_swap">
        <img src="../Data/images/swap-horizontal.png" alt="swap cities">
      </button>
    </div>

    <md-autocomplete required flex-gt-sm="40" flex-sm="100"
    md-selected-item="search.flightparams.destination"
    md-no-cache="true"
    md-dropdown-position="bottom"
    md-search-text="search.searchDestination"
    md-items="item in search.searchAirport(search.searchDestination, search.flightparams.source)"
    md-item-text="item.airport"
    md-min-length="0"
    md-menu-class="autocomplete-custom-template"
    placeholder="Enter Arrival City">
    <md-item-template>
      <span class="item-title">
        <span md-highlight-text="search.searchDestination" md-highlight-flags="^i">{{item.airport}}</span>
      </span>
      <span class="item-metadata">
        <i class="mdi mdi-home-map-marker"></i>
        <span md-highlight-text="search.searchDestination" md-highlight-flags="^i">{{item.country}}</span>
      </span>
    </md-item-template>
    <md-not-found>
      No airports matching "{{search.searchDestination}}" were found.
    </md-not-found>
  </md-autocomplete>
</div>

<br><br>

<div layout="row" layout-align="center">
  <md-datepicker ng-model="search.date" md-placeholder="Select Date of Departure" md-min-date="search.minDate" md-max-date="search.maxDate"></md-datepicker>
</div>

<br>

<div layout-gt-sm="row" layout="column" layout-align="space-around" ng-init="numberOfPeople = [0,1,2,3,4,5,6,7,8,9]">
  <md-input-container class="md-block" flex-gt-sm="33">
    <label>Class</label>
    <md-select ng-model="search.flightparams.seatingclass">
      <md-option value="E" selected>Economy</md-option>
      <md-option value="B">Business</md-option>
    </md-select>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm="33">
    <label>Adults</label>
    <md-select ng-model="search.flightparams.adults" ng-selected="{{search.flightparams.adults = 1}}" ng-disabled="true">
      <md-option ng-repeat="number in numberOfPeople" value="{{number}}">{{number}}</md-option>
    </md-select>
  </md-input-container>
</div>

<div layout="row" layout-align="center">
  <md-input-container class="md-block">
    <md-switch class="md-primary" name="counter" ng-model="search.flightparams.counter">
      Is this a International Flight?
    </md-switch>
  </md-input-container>
</div>

<div layout="row" layout-align="center">
  <button type="submit" class="btn btn_search">Search</button>
</div>
</form>
</md-content>

</div>
